RESEND_API_KEY=replace_with_your_resend_api_key
SPONSOR_TO_EMAIL=footanalysisshorts@gmail.com
SPONSOR_FROM_EMAIL=FootAnalysis <footanalysisshorts@gmail.com>
YOUTUBE_API_KEY=replace_with_your_youtube_data_api_key
YOUTUBE_CHANNEL_ID_EN=replace_with_your_english_channel_id
YOUTUBE_CHANNEL_ID_PT=replace_with_your_portuguese_channel_id
NEXT_PUBLIC_POSTHOG_KEY=replace_with_your_posthog_project_key
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
HOMEPAGE_TOTAL_VIEWS=1.2B+
HOMEPAGE_TOTAL_FOLLOWERS=15M+
HOMEPAGE_TOTAL_LIKES=50M+
HOMEPAGE_TOTAL_SHARES=5M+
HOMEPAGE_INSTAGRAM=5.2M+
HOMEPAGE_TIKTOK=6.1M+
HOMEPAGE_YOUTUBE=2.8M+
HOMEPAGE_YOUTUBE_VIDEOS=500+
